body {
  background-color: #d5d5d5;
  font-family: system-ui;
  color: #ddd3e2;
}

h2 {
  padding: 0;
  margin: 0 0 20px 0;
}

.intro {
  padding-left: 30px;
  border-left: 1px solid #000;
  text-align: justify;
}
/***************************container2***********************************/
.container2 {
  background-color: #a12121;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  box-shadow: 0 10px 50px #7e3030;
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  row-gap: 30px;
}
/************************avatar**************************************/
.avatar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  display: flex;
  justify-content: end;
  align-items: center;
}
/************************name**************************************/
.name {
  padding-left: 30px;
  border-left: 1px solid #000;
}

.name h1 {
  font-weight: 300;
  font-size: xxx-large;
  margin: 0px 0 5px;
}

.name .specialize {
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
}

.name .contact {
  padding: 0;
  list-style: none;
}

.name .contact span {
  display: inline-block;
  background-color: #000;
  width: 120px;
  height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: small;
  margin-right: 20px;
}

.name .contact li {
  padding: 5px 0;
  transform: translate(-40px);
  background-color: #a12121;
}
/************************info**************************************/
.info {
  text-align: right;
}

.info ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  line-height: 30px;
}
/************************experience**************************************/
.experience {
  text-align: right;
}

.experience h4 {
  margin: 20px 0 10px;
}

.experience ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.experience li {
  padding: 10px 0;
}
/************************skills**************************************/
.skills {
  margin-top: 50px;
}
/************************project**************************************/
.projects {
  padding-left: 30px;
  text-align: justify;
  border-left: 1px solid #000;
}

.projects h4 {
  margin: 20px 0 10px;
}

.projects .website {
  color: #0c7373;
  padding: 10px 0;
}
.projects .position {
  font-weight: 500;
  padding-bottom: 10px;
}

.projects .item {
  position: relative;
}

.projects .item::before {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #000;
  content: "";
  border-radius: 50%;
  left: -37px;
}

/************************Hàng 1**************************************/
#header1 {
  width: 100%;
  background-color: #1b2c65; /* Màu xanh đậm */
  padding: 0px 0;
}

#menutop {
  background-color: #1b2c65;
  width: 1200px;
  height: 42px;
  margin: 0 auto; /* căn giữa trong header */
  display: flex; /* dùng flex để bố trí .container bên phải */
  justify-content: flex-end; /* đẩy .container sang phải */
  align-items: center; /* căn giữa theo chiều dọc */
}

/* phần container nằm bên phải */
#menutop .container1 {
  padding: 10px 20px;
  border-radius: 4px;
}

#mnu1 {
  display: flex;
  list-style: none;
}
#mnu1 li {
  margin: 0 10px; /* Khoảng cách giữa các mục */
}

#mnu1 a {
  text-decoration: none;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

#mnu1 a:hover {
  background-color: #ffcc80; /* Nền khi hover */
  color: #000; /* Đổi màu chữ khi hover */
}

/**********************Hàng 2********************************/

#header2 {
  width: 100%;
  background-color: #fff; /* Màu xanh đậm */
  padding: 0px 0;
  height: 79px;
}

#header2 .content {
  height: inherit;
  width: 1200px;
  /* background-color: #fff;  */
  margin: 0 auto; /* căn giữa trong header */
  display: flex; /* dùng flex để bố trí .container bên phải */
  justify-content: flex-start; /* đẩy .container sang trái */
  align-items: center; /* căn giữa theo chiều dọc */
}

#logo {
  width: 182;
}

/* Bỏ dấu chấm và khoảng cách mặc định */
#nav_menuchinh ul {
  list-style: none; /* Bỏ dấu chấm */
  margin: 0; /* Xóa margin mặc định */
  padding: 0; /* Xóa padding mặc định */
  display: flex; /* Hiển thị menu theo hàng ngang */
  justify-content: center; /* Căn giữa menu */
  align-items: center; /* Căn giữa theo chiều dọc */
  /* background-color: #f2f2f2; */
  /* Màu nền nhẹ cho menu */
}

/* Cách trình bày từng mục menu */
#nav_menuchinh li {
  margin: 0 15px; /* Khoảng cách giữa các mục */
}

/* Liên kết trong menu */
#nav_menuchinh a {
  text-decoration: none; /* Bỏ gạch chân */
  color: #1b2c65; /* Màu chữ */
  font-weight: 600; /* In đậm nhẹ */
  padding: 5px 5px; /* Tạo vùng nhấn */
  display: block; /* Giúp padding có hiệu lực */
  transition: all 0.3s ease; /* Hiệu ứng hover mượt */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

/* Hiệu ứng khi rê chuột */
#nav_menuchinh a:hover {
  background-color: #ffcc80; /* Nền khi hover */
  color: #000; /* Đổi màu chữ khi hover */
  border-radius: 5px; /* Bo tròn nhẹ */
}

/**************************Nội dung*************************/
#noidung {
  min-height: 600px;
  background-color: beige;
}

/**************************Footer****************************/
#footer1 {
  width: 100%;
  background-color: #1b2c65; /* Màu xanh đậm */
  padding: 0px 0;
  height: 200px;
}

#footer1 .content {
  height: inherit;
  width: 1200px;
  /* background-color: rgb(236, 153, 218);  */
  margin: 0 auto; /* căn giữa trong header */
  display: flex; /* dùng flex để bố trí .container bên phải */
  justify-content: flex-start; /* đẩy .container sang trái */
  align-items: center; /* căn giữa theo chiều dọc */
}

#lienketnhanh {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #fff;
}

#lienhe {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #fff;
}
